{% extends "base.html" %}

{% block title %}
NFL game for Season {{ season }}
{% endblock %}

{% block content %}
	<h2>Season: {{ season }}</h2>
	<ul>
	{% for week in all_games %}
		<li><h4>Week {{week.week}}</h4></li>
			{% for games in week.game_data %}
				<ul>
					<h5>{{games.game_date}}</h5>
					{% for game in games.games %}
						<ul><a href="/{{ game.season }}/{{ game.gameid }}/playbyplay">{{ game.hometeam }} v {{ game.awayteam }}</a></ul>
					{% endfor %}
				</ul>
			{% endfor %}
	{% endfor %}
	</ul>
{% endblock %}