{% extends "base.html" %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/nflpbp.css">
{% endblock %}


{% block content %}
   	<div class="footballfield">
   		<img id="football_pos" class="football_pos" src="/static/images/football.png" />
   		<img id="endzone_logo1" src="/static/images/teamlogos/{{hometeam}}.png" width="100" height="50" />
   		<img id="endzone_logo2" src="/static/images/teamlogos/{{awayteam}}.png" width="100" height="50" />
   		<div id="first_down_line"></div>
      <div id="loading" class="text-center">Loading..</div>
      <div id="gameover" class="text-center">GAMEOVER</div>
    </div>
    <div><button class="btn btn-primary btn-lg">Play</button></div>
      <div id="game_state">
        <p>qtr <span class="quarter_number"></span><span class="time_left"></span></p>
        <p><span class="current_down"></span> down and <span class="yards_to_go"></span> yards to go. Ball on <span class="side_of_field"></span> <span class="yard_line"></span></p>
        <p>
          <img  class="team_logo" src="/static/images/teamlogos/{{hometeam}}.png">
          <span class="team1 h3"></span>
          <span class="team1_score h3 mr-2"></span>
          <span class="team2_score h3"></span>
          <span class="team2 h3"></span> 
          <img  class="team_logo" src="/static/images/teamlogos/{{awayteam}}.png">
        </p>
        <div id="play_description"></div>
      </div>
      <div id="mapframe">
        <p></p>
        <iframe src="" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
      <div id="hometeam">
      </div>
      <div id="awayteam">
      </div>      
      <input type="hidden" id="game_data_url" value="/{{ season }}/{{ gameid }}">
{% endblock %}

{% block js %}
  <script type="text/javascript">
    $("#gameover").hide();

    var homecode = '{{hometeam}}';
    var awaycode = '{{awayteam}}';
    var gmaps_api = '{{gmaps_api}}';
    var game_date = '{{game_date}}';
  </script>
  <script src="/static/js/base.js"></script>
{% endblock %}