{% extends "base.html" %}

{% block title %}
NFL {{stats}} Leaders for {{season}} Season
{% endblock %}


{% block content %}
	<h2>NFL {{stats}} Leaders for {{season}} Season</h2>
	<div class="container">
		<table class="table table-striped">
			<thead>
				{% if stats == 'rushing' %}
					<th scope="col"><a class="header_click" href="?sort=rusher">Rusher</a></th>
				{% endif %}
				{% if stats == 'passing' %}
					<th scope="col"><a class="header_click" href="?sort=rusher">Passer</a></th>
				{% endif %}
				{% if stats == 'receiving' %}
					<th scope="col"><a class="header_click" href="?sort=rusher">Receiver</a></th>
				{% endif %}
				<th scope="col"><a class="header_click" href="?sort=td_count">Touchdowns</a></th>
				<th scope="col"><a class="header_click" href="?sort=team">Team</a></th>
				<th scope="col"><a class="header_click" href="?sort=longest_td">Longest TD</a></th>
			</thead>
			<tbody>
			{% include 'stats_type_table.html' %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".header_click").click(function() {
				$.get($(this).attr("href"), function(data){
					$('tbody').html(data);
				});
				return false;
			});
		});
	</script>
{% endblock %}