{% extends "base.html" %}

{% block title %}
NFL {{stats}} Leaders for {{season}} Season
{% endblock %}


{% block content %}
	<h2>NFL {{stats}} Leaders for {{season}} Season</h2>
	<div class="container">
		<table class="table table-striped">
			<thead>
			{% include 'stats_header_table.html' %}
			</thead>
			<tbody>
			{% include 'stats_type_table.html' %}
			</tbody>
		</table>
	</div>
{% endblock %}

{% block js %}
	<script type="text/javascript">
		$(document).ready(function() {
			$(".header_click").click(function() {
				$.get($(this).attr("href"), function(data){
					$('tbody').html(data);
				});
				return false;
			});
		});
	</script>
{% endblock %}